/* 전체 사이즈 */
.home {
    background-color: #ECF2FF;
    width: 100vw;
    height: 95vh;
    margin: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    }

/* 프레임 사이즈 */
iframe {
    width: 100vw;
    height: 80vh;
    border: none;
}

/* 프레임 안에 내용 */
.main {
    width: 98vw;
    height: 79vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* list 타이틀 */
.title1 {
    text-align: center;
    font-size: 3rem;
    font-family: 'Alkatra', cursive;
}

.title2 {
    font-size: 1.1rem;
    line-height: 150%;
}


/* 각 네비 타이틀 이름 */
.title3 {
    text-align: center;
    font-size: 2.2rem;
    font-weight: bold;
}

/* 각 성경 구절 */
.verse_en {
    font-size: 1.4rem;
}

.verse_ko {
    font-size: 1.2rem;
    line-height: 150%;
    text-align: center;
}

.chapter_ko {
    font-size: 1.2rem;
    line-height: 150%;
}


/* 주제별 버튼 */
.list {
    margin-right: 40px;
    display: grid;
    grid-template-columns: repeat(3, 70px);
    grid-template-rows: repeat(3, 60px);
    grid-gap: 30px;  
}

li {
    list-style: none;
}

.list_a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;

    text-decoration: none;
    color: black;
    font-size:1.2rem;
    text-align: center;
}

.fa-book-bible {
    font-size: 1.5rem;
}


/* 네비게이션 버튼 */

.nav {
    display: grid;
    grid-template-columns: repeat(5, 80px);
    margin-right: 40px;
}

.nav_list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    color: black;
    font-size:1.1rem;
    text-align: center;
}

