.main {
    width: 98vw;
    height: 700px;
    margin: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    text-align: center;
    color: black;
}

a {
    text-decoration: none;
    color: white;
}